.sweets {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45%;
    background: rgb(243, 214, 180);
.brigadeiros{
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    height:50px;
    background-image: url("https://b3767074-a6c2-4f03-a939-65074c6f7415.ws-eu01.gitpod.io/mini-browser/workspace/final-project/final-project/src/assets/images/div.png");
    background-size: contain;

}
}
